/* general rules */
body{
  --palette-purple: #d0c1d8;
}

.topic#heroImage{
  max-height: 15vw;
}

header .topic.menuWorkforce{
  background-color: var(--palette-purple);
  height: 25vw;
}

.menuWorkforce > h1 {
  margin-top: 17vw;
}

.learnMoreCell h2 {
  padding-top: 2vw;
}

#thirdstepmenu{
  color: #00768a;
  font-size: 1.3em;
  text-align: right;
  padding-top: 2vw;
}

#thirdstepmenu h4{
  color: black;
  font-size: 1.7em;
}

body .articleTopic{
  align-items: start;
  max-width: 1400px!important;
  margin: 0 auto 100px;
  padding-left: 24px;
}

body .reverse{
  padding-left: 0;
  padding-right: 24px;
}

.reverse .column{
  align-items: flex-end;
}

body .withoutAboveMenu{
  margin-top: 160px;
}

.articleTopic:nth-child(even), .reverse{
  flex-direction: row-reverse;
  text-align: right;
  align-items: flex-end;
}

.articleTopic h2{
  color: var(--palette-purple);
  font-weight: bold;
  font-size: 4em;
}

.articleTopic p{
  max-width: 700px;
  margin-right: 24px;
}

.reverse p{
  margin: 18px 0 18px 24px;
}

.articleTopic, .reverse h2, h3{
  margin-right: 0;
}

.articleTopic:nth-child(even) p{
  margin-right: 0;
  margin-left: 24px;
}

.articleTopic img{
  max-width: 700px;
  object-fit: contain;
  margin-top: 70px;
}

.articleTopic ul{
  font-size: 1.4em;
  list-style-type: none;
}

.articleTopic ul>li{
  padding-left: 200px;
  margin-right: 15px;
}

.articleTopic ul>li::before{
  background-image: url('symbols/purpleBars.svg');
  background-repeat: no-repeat;
  content:"";
  height: 20px;
  display: block;
  position: absolute;
  margin-left: -200px;
  width: 200px;
}

.articleTopic ul>li:nth-child(2)::before{
  background-position: 0 -33px;
}

.articleTopic ul>li:nth-child(3)::before{
  background-position: 0 -66px;
}

.articleTopic ul>li:nth-child(4)::before{
  background-position: 0 -99px;
}

.articleTopic ul>li:nth-child(5)::before{
  background-position: 0 -132px;
}

.articleTopic ul>li:nth-child(6)::before{
  background-position: 0 -165px;
}


/* the following lines (up to 156) fix the size of the .menuWorkforce colored box to contain the Assessments menu when open */
@media(min-width: 900px) and (max-width: 950px){
  header .topic.menuWorkforce{
    height: 35vw;
  }
}

@media(min-width: 950px) and (max-width: 1050px){
  header .topic.menuWorkforce{
    height: 32vw;
  }
}

@media(min-width: 1050px) and (max-width: 1200px){
  header .topic.menuWorkforce{
    height: 29vw;
  }
}

@media(min-width: 1200px) and (max-width: 1300px){
  header .topic.menuWorkforce{
    height: 26vw;
  }
}

@media (min-width: 900px) and (max-width: 1400px){
  .learnMoreCell h1{
     display: block;
     font-size: 5em;
  }
  .menuWorkforce>h1{
    display: none;
  }
}

@media (min-width: 900px) and (max-width: 1200px){
  .learnMoreCell h2{
    display: inline-block;
    padding-bottom: 0;
  }
  .articleTopic:nth-child(even) h3{
    margin: 0 0 0 15px;
  }
}

@media (min-width: 900px){
  .articleTopic::before{
    content: "";
    border-left: var(--decorative-border);
    position: absolute;
    height: 200px;
    margin: 0 -24px;
  }
}

@media (min-width: 1100px){
  .articleTopic > .column > img{
    display: none;
  }
  .articleTopic > img{
    display: block;
  }
}

@media (max-width: 1099px){
  .articleTopic > .column > img{
    display: block;
    width: 100%;
    max-width: 700px;
  }
  .articleTopic > img{
    display: none;
  }
  .articleTopic:nth-child(even) img{
    align-self: end;
  }
}

/* best way so far to find out which element
creates the scrollbar */

/* *{outline: 1px solid magenta} */
