.testimonial h5{
    transition: width 800ms ease-in-out, opacity 500ms ease-in 200ms;
    opacity: 0;
    width: 0;
    white-space: nowrap;
}

.testimonial h5.inView{
    opacity: 1;
    width: 60%;
}

.underline{
    position: relative;
    border: 0 none;
}

.underline::after{
    content: "";
    border-bottom: var(--decorative-border);
    position: absolute;
    left: 100%;
    right: 0;
    bottom: 0;
    transition: left 500ms ease-in-out;
}

.underline.inView::after{
    left: 0;
}

.center.cluster{
    border: 0 none;
}

.center.cluster::before{
    content: "";
    border-top: var(--decorative-border);
    position: absolute;
    left: 20%;
    right: 80%;
    transition: left 500ms ease-in-out, right 500ms ease-in-out;
}

.center.cluster.inView::before{
    left: 0;
    right: 0;
}

.whoourclientsare h2{
    border: 0 none;
    position: relative;
}

.whoourclientsare h2::before{
    content: "";
    border-top: var(--decorative-border);
    border-left: var(--decorative-border);
    margin-left: var(--heading-border-padding-neg);
    margin-top: var(--heading-border-padding-neg);
    position: absolute;
    width: 0;
    height: 0;
    transition: width 500ms ease-in-out, height 500ms ease-in-out;
}

.whoourclientsare h2.inView::before{
    width: 100%;
    height: 3em;
}

.whoweare h2, .whoweare h3{
    border-top: 0 none;
    position: relative;
}

.whoweare h2::before{
    content: "";
    border-top: var(--decorative-border);
    border-left: var(--decorative-border);
    margin-top: calc( -1 * var(--heading-border-padding));
    position: absolute;
    left: 100%;
    right: 0;
    transition: left 500ms ease-in-out, right 500ms ease-in-out;
}

.whoweare h2.inView::before{
    left: 0;
}


.whoweare h3::before{
    content: "";
    border-top: var(--decorative-border);
    border-left: var(--decorative-border);
    margin-top: calc( -1 * var(--heading-border-padding));
    position: absolute;
    left: 0;
    right: 100%;
    transition: left 500ms ease-in-out, right 500ms ease-in-out, width 500ms;
}

.whoweare h3.inView::before{
    right: 0;
}

#logoGrid img{
    transition: opacity 500ms;
}

.fadeOut{
    opacity: 0;
    transition: opacity 500ms;
}
